# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author: "kgsdl" @ GitHub

__Objectives:__
+ List popular languages for Data Science
+ List popular libraries for Data Science

Some of the popular languages that Data Scientists use are:
- Python
- Java
- C++

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib

## Data Science Tools

|   | Data Mining and Transformation |
| --- | --- |
| 1 | Weka |
| 2 | Scrapy |
| 3 | Pandas |

|   | Data Analysis and Big Data Tools |
| --- | --- |
| 1 | Knime |
| 2 | Hadoop |
| 3 | Spark |
| 4 | Neo4J |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [4]:
200 / 60

3.3333333333333335